.login{
    width: 100vw;
    height: 100vh;
    background-color: #f0f2f5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginWrapper{
    width: 70%;
    height: 75%;
    display: flex;
}

.loginLeft,.loginRight{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.registerLogo {
    color: #9932cc;
    font-size: 4rem;
    font-weight: 800;
    margin-bottom: 10px;

}

.registerdesc {
    font-size: 1.3rem;
    font-weight: 500;
}


.registerBox{
    height: 85%;
    max-height: 450px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.registerInput{
    height: 48px;
    border-radius: 8px;
    border: 1px solid grey;
    font-size: 15px;
    padding-left: 20px;
}

.loginInput:focus{
    outline: none;
}

.loginButton{
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: rgb(58, 58, 248);
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    color: white;
    margin-top: 5vh;
    
}


.registerButton{
width: 60%;
/* margin: 0px auto; */ /* or */ align-self: center;
height: 50px;
border-radius: 8px;
background-color: #42b72a;
color: white;
font-size: 20px;
font-weight: 600;
cursor: pointer;
margin-top: 1vh;
}

.registerError{
    /* margin-top: 2vh; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    font-size: 1.2rem;
    position: relative;
    top: 2vh;
}

@media screen and (max-width:500px){
    .login{
        align-items: flex-start;
        justify-content: center;
    }
    .loginWrapper{
        flex-direction: column;
        align-items: flex-start;
        padding: 0;
        justify-content: space-around;
        min-height: 600px;
    }
    .loginLeft,.loginRight{
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }
    .loginLeft{
        max-width: 60vw;
        margin-left: 7vw;
       }
    .registerBox{
        min-height: 420px;
        margin-top:2vh;
        min-width: 65vw;
    }
    .loginButton{
        margin: 0;
    }
    .registerLogo{
        margin-left: -1rem;
        margin-top: -10px;
    }
    .registerdesc{
        font-size: 0.9rem;
    }
}