/* topbar container */
.topbarContainer{
    height: 8vh;
    max-height: 50px;
    width: 100vw;
    background-color: #a020f0;
    display: flex;
    align-items: center;
    position: sticky;
    top:0;
    margin-top: -10px;
    z-index: 2;
}

/* Topbar left right and center */
.topbarLeft{
    flex:2.5;
}
.topbarCenter{
    flex:5;
}
.topbarRight{
    flex:4;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color:white;
}

/* TopbarLink */
.topbarLink{
    margin-right: 10px;
    font-size: 1.2rem;
    cursor: pointer;
    color: white;
    text-decoration: none;
}


/* topbar image */
.topbarImage{
    width: 2.7rem;
    height: 2.7rem;
    border-radius: 50%;
    object-fit: cover;
}

/* logo */
.logo {
    font-size: 2rem;
    color: white;
    margin-left: 20px;
    cursor: pointer;
    font-weight: bold;
}

/* topbar icons */
.topbarIcons{
    display:flex;
}

.topbarIconItem{
    margin-right: 15px;
    cursor:pointer;
    position:relative;
    font-size: 0.3rem !important;
}

.topbarIconBadge{
    height: 21x;
    width: 21px;
    background-color: red;
    border-radius: 50%;
    color: white;
    position: absolute;
    top: -5px;
    right: -5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
}



/* search */
.searchbar{
    width:100%;
    height: 2rem;
    background-color: white;
    border-radius: 25;
    display:flex;
    align-items: center;
    border-radius: 30px;
}
.searchIcon{
    font-size: 1.7rem !important;
    margin-left: 10px;;
}
.searchInput{
    border: none;
    width:88%;
    font-size: 0.8rem;
}
.searchInput:focus{
    outline: none;
}

.topbarLogout {
    background-color: red;
    color: white;
    font-size: 0.9rem;
    cursor: pointer;
    margin-left: 1rem;
}

.topbarLogout:hover{
    background-color: rgb(236, 85, 85);
}


@media screen and (max-width: 900px){
        
    /* topbar image */
    .topbarImage{
        width: 1.7rem;
        height: 1.7rem;
        border-radius: 50%;
        object-fit: cover;
    }
    
    /* logo */
    .logo {
        font-size: 1.2rem;
    }
    
    .topbarIconBadge{
        height: 10x;
        width: 10px;
    }
    
    .searchIcon{
        font-size: 0.8rem !important;
    }
    
    .topbarCenter{
        max-width: 45vw;
    }

    .topbarLogout {
        margin-right: 9px;
        font-size: 0.6rem;
        margin-left: 0.2rem;

    }
    .topbarLink{
        font-size: 0.8rem;
    }
}

@media screen and (max-width:650px){
    .logo{
        font-size: 0.8rem;
        margin-left: 2px;
    }
    .topbarCenter{
        margin-right: 10px;
        /* max-width: 30vw; */
        /* max-height: 2.1vh; */
    }
    
    .topbarLinks{
        display: flex;
        flex-direction: column;
    }

    .topbarIconItem{
        margin-right: 5px;
    }
    .topbarIconBadge{
        right: 0;
    }
}
