.sidebar {
    flex: 3;
    /* 8vh is height of topbar */
    height: calc(100vh - 8vh);
    font-size: 0.8rem;
    overflow-y: scroll;
    position: sticky;
    overflow-x: hidden;
}

.sidebarListItemText {
    font-weight: 600 !important;
}

.sidebarFriendName {
    font-weight: 600 !important;

}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: white;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(158, 157, 157);

}

.sidebarWrapper {
    padding: 1rem;
    /* background-color: rgb(247, 147, 147); */
}

.sidebarList {
    padding: 0;
    margin: 0;
    margin-top: -10px;
    list-style: none;
}

.sidebarListItem {
    margin-left: -10px;
    padding: 1.4rem 0;
    display: flex;
    align-items: center;
}

.sidebarListItem:hover {
    background: radial-gradient(circle, rgba(211, 211, 211, 0.2) 20%, rgba(211, 211, 211, 0.4) 40%, rgba(211, 211, 211, 0.6) 60%, rgba(211, 211, 211, 0.8) 80%, rgba(211, 211, 211, 1) 100%);
    cursor: pointer;
}

.sidebarIcon {
    margin-right: 1.3rem;
}

.sidebarButton {
    width: 9rem;
    border: none;
    border-radius: 5px;
    padding: 0.6rem;
    font-weight: 500;
    margin-top: 1rem;
}

.sidebarButton:hover {
    background-color: rgb(170, 169, 169);
    cursor: pointer;
}

.sidebarHr {
    margin: 1.5rem 0;
}

.sidebarFriendList {
    padding: 0;
    margin: 0;
    list-style: none;
}

.sidebarFriend {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
}

.sidebarFriendImg {
    width: 3.3rem;
    height: 3.3rem;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 0.8rem;

}

@media screen and (max-width:800px) {
    .sidebarButton {
        max-width: 120%;
    }
    .sidebarIcon{
        margin-right: 0.5rem;
    }
    .sidebarListItem{
        padding: 0.9rem 0;
    }
    .sidebarList{
        font-size: 0.8rem;

    }
}

@media screen and (max-width:500px){
    .sidebar{
        flex: 0;
    }
}